body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 2vw, 5rem);
    width: 100%;
    height: 100%;
}

:root {
    --panel-bg: lightgrey;
    --text: rgba(255, 255, 255, 0.85);
    --muted: rgba(255, 255, 255, 0.4);
    --green-accent: #1db954;
}

#wheel {
    width: min(70vw, 70vh);
    aspect-ratio: 1 / 1;
    border: 0px solid black;
    border-radius: 50%;
    position: relative;
    /*transform: rotate(0deg);*/
    transition: transform 2s;
    flex: 1;
    align-self: center;
}

.note {
    background: lightgray;
    width: 25%;
    aspect-ratio: 1 / 1;
    border: 1px solid darkgray;
    border-radius: 50%;
    position: absolute;
    /* overflow: hidden; */
    /* top: 20px;
    left: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.note.active {
    background: lightgreen;
    
}

.note-bubble-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 2s;
    font-size: clamp(12px, 3vw, 40px);
}

.middle-row {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 0px;
        font-size: clamp(12px, 3vw, 40px);
}

.note-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(14px, 3vw, 40px);
    font-weight: bold;
    color: black;

}

.triad-chord-symbol {
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(7px, 1.5vw, 20px);
    color: black;
    margin-top: 4px;
}

.roman-numeral {
        font-size: clamp(10px, 3vw, 20px);
    opacity: 1;
}

.mode {
    font-size: clamp(8px, 1vw, 16px);
}



/* ======================
VISIBILITY TOGGLE BUTTONS 
/* ==================== */
.visibility-toggle-button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: linear-gradient(
        to bottom,
        #ffffff,
        #c4c4c4
    );
    border: 1px solid black;


    /* box-shadow:
        inset 0 1px 1px rgba(255,255,255,0.15),
        inset 0 -1px 2px rgba(0,0,0,0.5); */

    cursor: pointer;
    transition: all 0.2s ease;
}

.visibility-toggle-button.active {
    background: lightgreen;
    border: 1px solid black;
    /* box-shadow: 0 0 10px rgba(29, 185, 84, 0.6); */
}

.toggle-button-text {
    font-size: 13px;
    color: black;
    letter-spacing: 0.2px;
}

#visibility-toggle-buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;

    padding: 16px;
    width: clamp(120px, 12vw, 220px);

    background: var(--panel-bg);
    width: clamp(100px, 1vw, 240px);
    border-radius: 14px;

    /* box-shadow: 0 10px 30px grey; */
}

.toggle-button-row {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 8px;
    border-radius: 10px;
    transition: background 0.2s ease;
}

.toggle-button-row:hover,
.toggle-button-row.active-row {
    background: white
}
